{%  extends 'base.html.twig' %}
{% block body %}
    <h1>Symfony {{ version }}</h1>
    <h4>Vendor size: {{ vendor_size }} KB</h4>

    <hr>
    <table class="table">
        <thead class="thead-inverse">
        <tr>
            <th>Id</th>
            <th>Product</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.amount }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{%  endblock %}
